## VS Code & Python caches
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

## Data (I can add specific data folders if needed)
data/raw/
data/processed/

## MLflow runs and artifacts
mlruns/
artifacts/
artifacts_full/

## MLflow database files
mlflow.db
mlflow.db-shm
mlflow.db-wal

## Env / config files
.env
.venv/
.env.local

## OS junk
.DS_Store
Thumbs.db